.icons_block ul li {
    display: table;
    width: 50%;
    padding: 25px 7% 30px 0;
    float: left;
}
.icons_block .image {
    padding-right: 25px;
    width: 84px;
}
.icons_block li > div {
    display: table-cell;
    vertical-align: top;
}
.icons_block .name {
    font: bold 21px/24px Arial;
    color: #1c202d;
    padding: 3px 0 8px;
}
.icons_block .description {
    font: 12px/16px Arial;
    color: #a8aab0;
}

