.container-fluid nav-main{
    float: left;
}
.col{
    float: left;
}
#tiHero {
    background: url(../../img/frontend/HomepageHero.jpg) no-repeat center;
}
#tiHeroBanner {
    height: 340px;
    float: none;
}
#tiHero {
    position: relative;
    top: 0;
    height: 520px;
    left: 0;
    right: 0;
    width: 100%
}
#tiHeroHeader {
    text-align: center;
    float: none;
    color: #fff;
    font-size: 48px;
    font-family: roboto condensed,sans-serif;
    text-shadow: 3px 3px 2px #424242;
    font-weight: 700;
    padding: 150px 0 20px;
}
#ti-home-year {
    text-align: center;
}
.ti-select-wrap {
    position: relative;
    margin-right: 10px;
    float: none;
    display: inline-block;
}
#ti-home-part-name, #ti-home-engine {
    float: none;
    display: inline-block;
}
#ti-home-part-name, #ti-home-engine {
    float: none;
    display: inline-block;
}
#tihomesubmit {
    border: none;
    cursor: pointer;
    width: 330px;
    height: 40px;
    background: url(../../img/frontend/HomepageRedesign-GoArrow.png) no-repeat #00adeb 200px center;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: roboto condensed,sans-serif;
    font-weight: 700;
    padding: 0;
}
#ti-home-no-part {
    display: none;
    margin: 20px auto 0;
    text-align: center;
    float: none;
}
#ti-home-year select {
    width: 160px!important;
    font-size: 16px;
    height: 40px!important;
    float: none;
    display: inline-block;
    border-radius: 5px;
}
#content, .slider-container, .brands, .list_block.opacity {
    opacity: 1;
}
.features .subtitle, .subtitle_header {
    margin: 35px 0 7px 25px;
}
.subtitle a {
    margin-top: 7px;
    text-transform: none;
    text-shadow: none;
}
.nowrap {
    white-space: nowrap;
}
.brands_slider {
    position: relative;
    overflow: hidden;
    padding: 35px 60px;
    border: 1px solid #dce8ea;
    background: #fff;
}
.brands_slider .bx-wrapper, .products_block .bx-wrapper {
    position: static;
}
.brands_slider ul li {
    float: none!important;
    display: inline-block;
    text-align: center;
}
a img.grayscale {
    max-width: 100%;
    max-height: 100%;
    filter: url(/img/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .3s;
}
.brands .brands_slider ul li p {
    margin-top: 20px;
}

.brands .brands_slider ul li p a {
    color: #000;
    font-size: 13px;
    font-weight: 800;
}
.bx-wrapper .bx-controls-direction a {
    height: 23px;
    width: 23px;
    margin-top: -12px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    z-index: 3;
}
.bx-wrapper .bx-prev {
    background: url(https://boodmo.com/img/controls.png) 0 0 no-repeat;
    left: 0;
}
.bx-wrapper .bx-next {
    background: url(https://boodmo.com/img/controls.png) -40px 0 no-repeat;
    right: 0;
}
.features .subtitle, .subtitle_header {
    margin: 35px 0 7px 25px;
}
.subtitle {
    font: bold 21px/24px Arial;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #1c202d;
    text-shadow: 1px 1px 0 #fff;
}
.list_block ul {
    margin-left: -5px;
}
.list_block ul li {
    display: table;
    padding: 0 0 5px 5px;
    float: left;
    box-sizing: border-box;
    width: 25%;

}
.list_block ul li a {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    border: 1px solid #dde9ea;
    height: 153px;
    position: relative;
    text-decoration: none;
    padding: 10px 10px;
    max-width: 0;
}
.list_block.opacity ul li a img {
    opacity: .15;
}
a img.grayscale {
    max-width: 100%;
    max-height: 100%;
    filter: url(/img/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .3s;
}
.list_block ul li a span {
    font: bold 16px/18px Arial;
    color: #000;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0,0,0,.3);
    transition: color .3s;
    position: absolute;
    width: 80%;
    left: 0;
    top: 65px;
    text-align: center;
    padding: 0 10%;
}
.list_block.opacity ul li a:hover img {
    opacity: .8;
}
#footer {
    margin-top: 10px;
}
.row_span {
    font: 12px/12px Arial;
    color: #969696;
    background: #fff;
    border: 1px solid #dce8ea;
    padding: 8px 6px;
}
.legal-info {
    float: left;
}
.clear_fix:after {
    clear: both;
}

.owl-nav button {
    border: 2px solid #969696 !important;
    border-radius: 50% !important;
    position: absolute;
    top: 35%;
    color: #969696 !important;
    width: 30px;
    height: 30px;
}
.owl-nav button:focus {
    outline: none;
}
.owl-nav button:hover {
    background: #000000 !important;
    border: 2px solid #000 !important;
}
.owl-nav button.owl-prev {
    left: 0%;
}
.owl-nav button.owl-next {
    right: 0%;
}
.owl-nav span {
    line-height: .5;
    display: block;
    font-size: 25px;
    margin-top: -4px;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
    background: white;
    padding: 20px 0 10px 0;
}
.main-owl .owl-carousel .owl-item img {
    display: block;
    max-width: 100%;
    max-height: 70px;
    width: auto !important;
}
.owl-item.cloned {
    margin: 0;
}
.outer-img {
    width: 177px;
    padding: 15px;
}
.main-owl{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.main-owl .owl-carousel .owl-item .chev{
    margin-top: 20px;
}
.main-owl .owl-carousel .owl-item .maruti{
    margin-top: 25px;
}
/*.outer-img img{
    opacity: 0.3;
}
.outer-img img:hover{
    opacity: 1;
}*/
.owl-carousel .owl-stage-outer {
    padding: 15px 0 0 25px !important;
}
.subtitle, .subtitle_header {
    margin: 35px 0 7px 25px;
}
footer a:hover {
    color: #969696;
    text-decoration: underline !important;
}
footer a {
    color: #969696;
    text-decoration: none !important;
}
.brand-name {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
#login-signup input {
    /*    float: left;
        width: 100%;
        font-size: 13px;*/
    /*padding: 5px 5px;*/
}
#search-main select {
    padding: 7px 10px;
}
#search-main {
    text-align: center;
    margin-top: 15px;
}
.owl-carousel .owl-nav {
    margin: 0;
}
.owl-dots{
    position: relative;
    top: -10px;
}
@media (max-width: 767px) {
    .list_block ul li {
        width: 50%;
    }
    .bottom .logo {
        width: 100px;
        height: 55px;
    }
    .owl-dots {
        margin-top: 0px !important;
    }
}
@media (max-width: 425px) {
    #tiHero {
        height: 400px !important;
    }
    #tiHeroHeader {
        font-size: 32px !important;
        padding: 80px 0 20px !important;
    }
    .ti-select-wrap {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    #search-main select {
        width: 146px;
    }
    #tihomesubmit {
        width: 230px !important;
        height: 35px !important;
        background: url(../../img/frontend/HomepageRedesign-GoArrow.png) no-repeat #00adeb 150px center !important;
        margin-top: 15px !important;
    }
    .subtitle, .subtitle_header {
        margin: 20px 0 7px 25px;
        font-size: 18px;
    }
    .outer-img {
        width: 180px;
        margin-left: 71px;
    }
    .outer-img a {
        float: left;
        width: 100%;
        margin-top: 8px;
    }
    .owl-nav button.owl-prev {
        left: 5%;
    }
    .owl-nav button.owl-next {
        right: 5%;
    }
    .list_block ul li a span {
        top: 40px;
    }
    .list_block ul li a {
        padding: 10px 10px;
        height: 110px;
    }
    .list_block ul li {
        width: 100% !important;
    }
   
}
@media (max-width: 375px) {
    .outer-img {
        margin-left: 35px;
    }
    .owl-dots {
        display: none;
    }
    .subtitle, .subtitle_header {
        font-size: 16px;
    }
    .list_block ul li a span {
        font: bold 15px/18px Arial;
    }
    .logo {
        height: 46px !important;
    }
    #tiHeroHeader {
        font-size: 28px !important;
        padding: 75px 0 20px !important;
    }
    #search-main select {
        width: 130px;
        font-size: 12px;
    }
    #tihomesubmit {
        width: 188px !important;
        height: 29px !important;
        background: url(../../img/frontend/HomepageRedesign-GoArrow.png) no-repeat #00adeb 130px center !important;
        margin-top: 22px !important;
        font-size: 18px;
    }
  
}
@media (max-width: 320px) {
}
