.product-list-table td {
    padding: 8px;
    vertical-align: middle;
}
.product-list-table {
    min-height: 400px;
}
.product-list-table td a {
    text-decoration: none;
}
.product-list-table td a:hover {
    text-decoration: underline;
}

.product-list-table td img {
    height: 80px;
    width: 91px;
}

.spinner {
    width: 50px;
    height: 40px;
}
.spinner button {
    line-height: 0;
    border: transparent;
}
.spinner button:focus {
    box-shadow: none;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    top: -7px;
    right: 11px;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px 0 0 0;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}
.cart-action {
    display: inline-flex !important;
}
#content {
    position: relative;
}
#content .right_side .content_block {
    padding: 0;
    border: none;
}
#content .content_block {
    position: relative;
}
.content_block {
    margin-bottom: 10px;
    padding: 25px;
    background: #fff;
    line-height: 20px;
}

.list_view_block li:not(:last-child) {
    border-bottom: 1px solid #dce8ea;
}
.list_view_block li:not(:first-child) {
    padding-top: 15px;
}
.list_view_block li {
    padding-bottom: 10px;
}
list_view_block li {
    float: none;
    width: auto;
    height: auto;
    text-align: left;
}
/*.content_block li {
    width: 25%;
    height: 270px;
}*/
.products_block .content_block li {
    width: 225px;
    float: left;
}
.content_block ul li .table {
    width: 80%;
}
.fl_left {
    float: left;
}
#content .products_block .content_block ul li .table .image {
    width: 139px;
    padding-right: 10px;
}
.image {
    width: 20%;
}
.image img {
    height: 100px;
}
.image a {
    float: left;
}
.name a {
    font-size: 18px;
}
#content .products_block .content_block ul li .table .image a {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
.add_to_cart:hover {
    color: #fff;
    background: #0f3e6b;
}   
.add_to_cart{
    display: inline-block;
    background: #1b568e;
    font: bold 14px/20px Arial;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-transition: background .3s;
    transition: background .3s;
    min-width: 120px;
    margin-top: 30px;
    border-width: 0;
}
#content .right_side .products_block .content_block ul.list_view_block li a {
    display: table;
    vertical-align: middle;
    text-decoration: none;
    width: 80%;
    margin: 0;
}
#content .right_side .products_block .content_block ul li a {
    margin: 10px 8px;
}
.search_result_information {
    float: left;
    width: 250px;
}
#content .right_side .products_block .content_block ul li .image img:not(.oem-icon) {
    max-width: 100%;
}
#content .right_side .products_block .content_block ul.list_view_block li a {
    display: table;
    vertical-align: middle;
    text-decoration: none;
    width: 80%;
}
#content .products_block .content_block ul li .table .gray {
    margin-bottom: 2px;
    font: 12px/16px Arial;
    color: #a8aab0;
}
#content #products_block .list_view_block .buy {
    display: inline-block;
    background: #1b568e;
    font: bold 14px/20px Arial;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-transition: background .3s;
    transition: background .3s;
}
#content .content_block .folding .folding_content .products_list ul li .buy, #content .right_side .products_block .content_block ul.list_view_block li .buy {
    display: inline-block;
    font-size: 16px;
    width: 110px;
    max-width: 20%;
    margin-top: 30px;
}
#content .right_side .products_block .content_block ul li a {
    margin: 10px 8px;
}
.searched_products_main {
    min-height: 390px;
}
@media (max-width: 425px) {
    .title h1 {
        font-size: 25px; 
    }
    .content_block {
        padding: 15px 10px;
    }
}
@media (max-width: 320px) {
    .title h1 {
        font-size: 18px; 
    }
}
.add_to_cart:disabled,
.add_to_cart[disabled]{
    opacity: 0.7;
}
.add_to_cart:disabled:hover, .add_to_cart[disabled]:hover{
    opacity: 0.7;
    background: #1b568e;
}
@media (max-width: 767px) {
    .content_block ul li .table{
        display: block;
    }
    .content_block ul li .table>div{
        display: block;
    }
    .content_block ul li .information{
        margin-top: 15px;
    }

}