.show-cart-images-row{
    margin: 0;
}
#show-cart-images{
    padding-left: 0;
}
#show-cart-images .owl-carousel .owl-stage-outer {
    padding: 0px 0 20px 0px !important;
}
#show-cart-images .outer-img {
    padding: 15px 0px 0 1px !important;
    margin: 0 auto !important;
}
#show-cart-images img { 
    transition: all .2s ease-in-out;
    width: 100%;
}
#show-cart-images img:hover {
    transform: scale(1.1); 
}
#preview{
    margin-top: 10px;
    /*border:1px solid black;*/
    /*    width:350px;
        height:500px;*/
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.append-selected-main-img{
    text-align: center;
    overflow: hidden;
}
.append-selected-main-img img {	
    /*margin: 10px;*/
    display: block;
    /*border: 2px solid #6A6462;*/
}
.append-selected-main-img img:hover {
    cursor: zoom-in;
    border: 0;
    -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
    -webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
    box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}
@media screen and (max-width: 767px){
    .append-selected-main-img img {
        display: inline-block;
    }
}
#product-info p{
    position: relative;
}
#product-info .installation_price {
    position: relative;
}
.installation_price svg:not(:root).svg-inline--fa {
    top: 0 ;
    left: 0 ;
    color: #00b9d0;
}
#product-info .genuine_part {
    position: relative;
}
.genuine_part svg:not(:root).svg-inline--fa {
    top: 0 ;
    left: 0 ;
    color: #00b9d0;
}
#product-info svg.svg-inline--fa.fa-truck.fa-w-20{
    top: 0 ;
    left: 0 ;
    color: #00b9d0;
}