#content-cart h2 {
    background: #00447c;
    float: left;
    color: #fff;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 15px;
}
#content-cart {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.my-row {
    margin-left: -10px;
    margin-right: -10px;
}
.cart-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    /*    position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;*/
}
.cart-content {
    /*width: calc(100% - 304px);*/
    /*margin-right: 304px;*/
}
.cart-list {
    padding: 45px;
    background-color: #fff;
}
.cart-list-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
}
.cart-slider {
    float: left;
    width: 150px;
    margin-right: 45px;
}
.cart-list-item--description {
    margin-left: 210px;
}
.cart-description--title {
    font-size: inherit;
    margin-top: 0;
}
.mb-15 {
    margin-bottom: 15px;
}
.cart-list-item-price {
    float: right;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: right;
}
.cart-list-item-price>div {
    margin-bottom: 15px;
    text-align: right;
}
.cart-list-item-price .old_price small{
        font-size: 12px;
}
.mt-15 {
    margin-top: 15px!important;
}
.text-top {
    vertical-align: top;
}
.cart-list-item--description form {
    position: relative;
    display: inline-block;
}
.cart-list-item--remove {
    border: none;
    background-color: #fff;
    color: #737373;
}
.cart-list-subtotal {
    text-align: right;
    min-height: 25px;
    float: left;
    width: 100%;
}
.cart-list-item-price--actual {
    font-size: 22px;
    line-height: 1.5em;
    vertical-align: middle;
}
.cart-side-secure--title{
    font-size: 19px;
    line-height: 1.5em;
    vertical-align: middle; 
}
.cart-side-secure--title p{
    margin-bottom: 0px;
}
.mv-15 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    /*    position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -304px;
        width: 304px;
        float: right;*/
    padding-right: 0;
}
.cart-side-panel {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
}
.text-center {
    text-align: center;
}
.cart-side-secure {
    margin: -20px -20px 0;
    border-bottom: 1px solid #e6e6e6;
}
.cart-side-secure img {
    max-width: 100%;
    max-height: 100%;
}
.pb-20 {
    padding-bottom: 20px;
}
.text-left {
    text-align: left;
}
.big-blue-btn {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 700!important;
    background-color: #0896ff;
    padding: 15px!important;
    font-size: 16px!important;
    border: initial;
}
.btn-block {
    width: 100%;
}
.cart-list-item--description select {
    padding: 3px;
    margin: 0 0 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #2ec2ff;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 65px;
}
.cart-list-item--description select {
    padding-right: 18px;
}
.select-arrow {
    content: '';
    right: 10px;
    top: 6px;
    padding: 0 0 2px;
    pointer-events: none;
    display: inline-block;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: border-color .2s;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #1ca9ce;
    position: absolute;
}
.big-blue-btn:hover {
    color: #000;
}
.vr-line-wrapper{display:inline-block;position:relative;width:10%;height:122px}.vr-line{position:absolute;left:50%;margin-left:-1px;top:0;bottom:0;width:1px;background:#e1e1e1;z-index:0}.vr-line-content-wrapper{text-align:center;height:12px;position:absolute;left:0;right:0;top:50%;margin-top:-12px;z-index:0}.vr-line-content{color:#e1e1e1;letter-spacing:1px;padding:3px;background:#fff}@media (max-width:767px){.vr-line-wrapper{display:none}}.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#a94442}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.5}button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}.best-offer{position:absolute;left:0;top:20px;background-color:#ff3823;color:#fff;padding:5px;font-size:12px;line-height:1em;white-space:nowrap}.best-offer:after,.best-offer:before{content:'';position:absolute;width:0;height:0;right:-5px;border-style:solid}.best-offer:before{bottom:0;border-width:0 5px 10px 0;border-color:transparent transparent #ff3823 transparent}.best-offer:after{top:0;border-width:10px 5px 0 0;border-color:#ff3823 transparent transparent transparent}.best-offer_sm{position:absolute;left:0;top:10px;background-color:#ff3823;color:#fff;padding:4px;font-size:10px;line-height:1em;white-space:nowrap}.best-offer_sm:after,.best-offer_sm:before{content:'';position:absolute;width:0;height:0;right:-4px;border-style:solid}.best-offer_sm:before{bottom:0;border-width:0 4px 8px 0;border-color:transparent transparent #ff3823 transparent}.best-offer_sm:after{top:0;border-width:8px 4px 0 0;border-color:#ff3823 transparent transparent transparent}.best-offers-gallery{font-size:0;white-space:nowrap;text-align:center}.best-offers-gallery a{box-sizing:border-box;width:185px;display:inline-block;margin-right:15px;padding:15px;background-color:#fff;border:1px solid #ececec;color:#000}.best-offers-gallery a .image{position:relative;border:1px solid #dedede}.best-offers-gallery a .image img{max-width:100%}.best-offers-gallery a .name{text-transform:uppercase;font-size:14px;color:#59aae7}.best-offers-gallery a .price{font-size:18px;color:#08588a}.best-offers-gallery a .discount{display:inline-block;background:#16c7f6;font:bold 11px/24px Arial;color:#fff;vertical-align:top;padding:0 6px}.best-offers-gallery a:hover{text-decoration:none}.best-offers-wrap{position:relative}.best-offers-wrap .next:before,.best-offers-wrap .prev:before{position:absolute;top:calc(50% - 60px);border-radius:50%;background-color:rgba(24,67,120,.4);z-index:1;font-family:icomoon;text-align:center;padding:30px;font-size:3rem;line-height:1.15rem;color:#fff}.best-offers-wrap .prev:before{left:10px;content:'\e90d'}.best-offers-wrap .next:before{right:10px;content:'\e900'}.btn{font-size:14px;font-weight:400;line-height:1.42857143;display:inline-block;margin-top:5px;margin-bottom:0;padding:6px 12px;cursor:pointer;text-align:center;vertical-align:middle;white-space:nowrap;border:1px solid transparent;border-radius:4px;background-image:none;text-decoration:none}.btn:focus,.btn:hover{color:#333;text-decoration:none}.btn-block{width:100%}@media (max-width:767px){.btn-block-sm{width:100%}}.big-blue-btn{text-transform:uppercase;color:#fff;font-weight:700!important;background-color:#0896ff;padding:15px!important;font-size:16px!important;border:initial}.big-blue-btn.desktop_hide{margin:0 auto}.blue-btn{background-color:#00447c;text-align:center;color:#fff;padding:6px 20px!important}.button-blue{background-color:#0896ff}.button-facebook{background-color:#48629b}.button-google{background-color:#dc4b38}
.big-btn{text-transform:uppercase;color:#fff!important;font-weight:700;font-size:16px;
         padding:10px 20px;min-width:175px}.sign-in-buttons{margin-top:30px}.sign-in-buttons>button{margin-right:20px;position:relative}.sign-in-buttons>button .btn-img-icon{position:absolute;top:6px;left:15px}.sign-in-buttons .big-btn{text-transform:uppercase;color:#fff;font-weight:700;padding:10px 15px;font-size:16px;width:175px}input[type=submit].btn{border-radius:4px}@media (max-width:1023px){.big-blue-btn{padding:12px!important;font-size:14px!important}}@media (max-width:600px){.big-blue-btn{font-weight:500!important}}ul.crumbs{margin-bottom:30px;padding:0;font-size:0;line-height:0}ul.crumbs li{margin:30px 0 0;padding:0;display:inline-block;font-size:30px}ul.crumbs li:not(:last-child)::after{font-family:icomoon;color:#d1d1d1;content:"\e900";vertical-align:sub;margin:0 10px}ul.crumbs li a,ul.crumbs li span{font-size:13px;line-height:16px;text-transform:uppercase;color:#fff;background-color:#d1d1d1;border-radius:20px;padding:10px 16px;text-decoration:none;text-align:center;display:inline-block;min-width:110px;cursor:pointer}ul.crumbs li a:hover,ul.crumbs li span:hover{text-decoration:none}ul.crumbs li a.active-crumb,ul.crumbs li span.active-crumb{background-color:#00447c}@media (max-width:767px){ul.crumbs{display:none}}.panel-body{padding:40px;background-color:#fff;line-height:1.25em;font-size:.92857em}.panel-body>div:first-child{width:50%;display:inline-block;position:relative;margin-left:30px;vertical-align:top;padding-right:50px;margin-right:20px;border-right:1px solid #e1e1e1}.panel-body>div:first-child .label{position:absolute;float:left;left:-40px;top:-5px;color:#0dc2f7;font-size:28px}.panel-body .title-content{font-size:1.25em;color:#0dc2f7;text-transform:uppercase}.panel-body>div:first-child span{font-size:16px}.check-panel{margin-bottom:10px}.check-panel-title{background-color:#acbdcb;color:#fff;padding:18px 20px;position:relative}.check-panel-title .icon-check-o,.check-panel-title .icon-retweet{font-size:30px;vertical-align:middle;display:none}.check-panel-title .icon-check-o{color:#00447c}.check-panel-title .icon-retweet{color:#9c9c9c}.check-panel.active .check-panel-title{background-color:#00bdf8}.check-panel.dirty .check-panel-title{background-color:#fff;padding:10px 20px;color:#264974}.check-panel-body{opacity:0;height:0;background-color:#fff;overflow:hidden;font-size:16px;transition:all .2s ease-out}.check-panel-body-email>div{vertical-align:top}.check-panel.active .check-panel-body{opacity:1;height:auto;padding:40px}.dirty:not(.active) .check-panel-title [class*=" icon-"],.dirty:not(.active) .check-panel-title [class^=icon-]{display:inline-block}.check-panel .title-content{text-transform:uppercase;font-size:1.25em;padding-left:10px}.check-panel.dirty .title-content{vertical-align:middle}.check-panel.dirty .title-content--dirty{display:none}.check-panel .title-content--dirty{display:inline-block}.check-panel .forms-content{display:none}.check-panel .form-payment-content,.check-panel .forms-content,.panel-body .forms-content{color:#898989;font-size:13px;text-align:left}.check-panel .form-payment-content{display:inline-block;padding:15px}.check-panel.dirty:not(.active) .forms-content{display:inline-block}.check-panel .payment-content{display:none}.check-panel.dirty .payment-content.selected{display:inline-block}@media (max-width:767px){.check-panel.active .check-panel-body{padding:20px 10px}.check-panel .title-content{font-size:1em}.check-panel.dirty .forms-content,.check-panel.dirty .payment-content{display:none}.panel-body>div:first-child{width:auto;padding-right:0;margin-right:0;border-right:none}}@media (max-width:413px){.panel-body{padding:12px}.panel-body>div:first-child .title-content{font-size:1.15em}}.check-panel .btn-change{display:none;float:right;text-transform:uppercase;background-color:transparent;color:#aaa;border:1px solid #aaa;margin-top:0;padding:6px 35px}.check-panel .btn-change--mob,.check-panel.dirty .btn-change--mob{display:none}.check-panel.dirty .btn-change{display:inline-block}.check-panel.active .check-panel-title .icon-check{display:none}.btn.delivery-info-btn{display:none;position:absolute;top:5px;right:5px;font-style:italic;color:#aaa;background-color:transparent;height:25px;width:25px;padding:0;border:1px solid #aaa;border-radius:50%;box-sizing:border-box}@media (max-width:767px){.check-panel.dirty .btn-change.active{display:none}.check-panel.dirty .btn-change:not(.active){padding:4px}.check-panel.dirty .btn-change--mob{display:inline-block;float:right}}.form-email{display:inline-block}
.form-input{width:100%;max-width:520px;
            margin:0 0 10px;padding:10px;border:1px solid #aaa;border-radius:4px;font-size:14px;box-sizing:border-box}.form-input[type=text]{border-radius:4px}select.form-input{height:39px}.sign-in{display:inline-block;width:40%}.sign-in-content{font-size:14px;color:#707070;padding-top:5px}.email-form-wrapper{width:40%}.email-form-wrapper form{width:100%}@media (max-width:1021px){.form-email{width:100%}.sign-in{padding-top:40px}}@media (max-width:767px){.email-form-wrapper{width:70%}.sign-in{width:100%}}@media (max-width:470px){.email-form-wrapper{width:100%}}.form-delivery-input-group{max-width:350px;width:100%;position:relative}.form-delivery-input-tel-code{background-color:#f5f5f5;border-radius:4px 0 0 4px;border:1px solid #aaa;padding:10px 10px 11px;font-size:14px;display:inline-block;position:absolute}.delivery-info{background-color:#ffb11b;border:none;font-size:12px;text-align:center}.delivery-info .ico-warning{display:inline-block;width:18px;height:18px;font-size:14px;border:1px solid;border-radius:50%;margin-right:4px}.warning-icon{position:absolute;right:0;top:0;padding:10px}.warning-icon:before{border-radius:50%;font-size:18px;background-color:#f9d663;color:#7d7b5d}.form-delivery-input-tel{width:100%;padding-left:60px;height:39px}.form-delivery-tel-info{display:inline-block;font-size:14px;color:#f26522;margin-bottom:10px}.form-delivery{display:inline-block}.form-delivery textarea{resize:none}.form-delivery select{background-color:transparent}.form-delivery select[disabled]{background-color:#f2f2f2;cursor:not-allowed}.form-delivery.selected{color:#000}.delivery-address-info{vertical-align:top;margin-left:40px;max-width:600px;width:calc(100vw - 420px);display:inline-block;padding:30px;background-color:#fdf4e1;font-size:18px;line-height:1.35em;box-sizing:border-box}.delivery-address-info p{font-size:14px;-webkit-margin-before:.5em;-webkit-margin-after:.5em}.delivery-address-info>div:not(:last-child){margin-bottom:30px}@media (max-width:767px){.btn.delivery-info-btn{display:inline-block}.delivery-address-info{display:none}.delivery-address-info.opened{display:inline-block;margin-left:0;width:auto;max-width:none;position:fixed;top:0;left:0;bottom:0;right:0;overflow-y:scroll;z-index:1}.delivery-address-info.opened .alert{display:block}.form-delivery{width:100%}.form-delivery-input-group{max-width:none}.form-input{max-width:none}}.order-wrapper{line-height:1.25em;font-size:14px;margin-bottom:20px}.order-body{display:table;width:100%;margin-bottom:15px;padding-top:10px;border-bottom:1px solid #d7d7d7}@media (max-width:767px){.order-body>div>div{padding:5px}.order-body>div>div>div:last-child{text-align:right;float:right}.order-body>div>div>div{float:left}}@media (max-width:1023px){.order-body.order-body-sm>div>div{padding:5px}.order-body.order-body-sm>div>div>div:last-child{text-align:right;float:right}.order-body.order-body-sm>div>div>div{float:left}}@media (max-width:1023px) and (max-width:767px){.order-body.order-body-sm .order-item-description{text-align:left!important;float:left!important}}@media (min-width:768px){.order-body>div{display:table-row}.order-body>div>div{display:table-cell;vertical-align:top;padding:15px 5px 10px}.order-body>div>div .btn-cancel{margin-top:-10px;padding:8px 34px}.order-body>div>div:not(:first-child){white-space:nowrap;text-align:right}.order-body>div>div.wd-15{width:15%}.order-body>div>div.wd-10{width:10%}.order-body>div>div:first-child{padding-left:20px}}@media (min-width:1024px){.order-body.order-body-sm>div{display:table-row}.order-body.order-body-sm>div>div{display:table-cell;vertical-align:top;padding:15px 5px 10px}.order-body.order-body-sm>div>div .btn-cancel{margin-top:-10px;padding:8px 34px}.order-body.order-body-sm>div>div:not(:first-child){white-space:nowrap;text-align:right}.order-body.order-body-sm>div>div.wd-15{width:15%}.order-body.order-body-sm>div>div.wd-10{width:10%}.order-body.order-body-sm>div>div:first-child{padding-left:20px}}@media (max-width:767px){.delivery-info_order-wrap{float:none;margin-bottom:10px}}.delivery-info_order{background-color:#ffb11b;font-size:12px;padding:6px 12px;border-radius:4px;display:inline-block}.delivery-info_order .delivery-icon_order{margin-right:10px;font-size:20px;vertical-align:sub}@media (min-width:600px){.delivery-info_order .delivery-info_price{float:right}}.delivery-info_order .ico-warning{display:inline-block;width:18px;height:18px;font-size:14px;border:1px solid;border-radius:50%;margin-right:4px}button.delivery-info_order{width:100%;border:none}.order-labels{font-weight:700;background-color:#e7f7fc}@media (max-width:767px){.order-item-description{text-align:left!important;float:left!important}}.order-item-description img{display:inline-block;margin-right:20px;border:1px solid #e6e6e6;max-width:100px;vertical-align:top}.order-item-description div{display:inline-block}.order-item-description div span{display:block}.order-item-description div span:not(:first-child){color:#999;font-size:12px}.order-footer{font-size:14px;text-align:right;margin-bottom:20px}.order-footer>div:last-child{font-weight:700}.order-panel-footer{font-size:14px;text-align:right;line-height:1.385em}.order-panel-footer>div:last-child{font-weight:700;font-size:20px;margin-top:10px}@media (max-width:413px){.order-body{font-size:.8125em}.order-body>div>div:not(:first-child){white-space:normal}.order-body>div>div:first-child{padding-left:5px}.order-item-description img{max-width:70px;margin-right:0}}.payment-method{margin-top:-10px;padding-bottom:25px;box-sizing:border-box}@media (min-width:900px){.payment-method{min-width:380px;float:left;width:50%}}.payment-method label{display:table;text-transform:uppercase;cursor:pointer;border:1px solid #aaa;border-radius:4px;font-size:14px;box-sizing:border-box;min-width:260px;max-width:375px;width:100%;opacity:1}@media (max-width:767px){.payment-method label:not(.disabled){border-radius:4px 4px 0 0;position:relative;margin-bottom:43px}}.payment-method label>div{display:table-cell;vertical-align:middle}.payment-method label>div:last-child{margin-top:-10px;margin-bottom:-10px}.payment-method label>div:first-child{border-right:1px solid #aaa;padding:12px;margin:-10px 0 -10px -10px;width:19px}
.payment-method label>div:nth-child(2){width:15px}.payment-method label span{width:16px;height:16px;border-radius:50%;display:block;border:1px solid #aaa;box-shadow:inset 0 3px 0 #fff,inset 0 -3px 0 #fff,inset 3px 0 0 #fff,inset -3px 0 0 #fff,inset 2px 2px 0 #fff,inset -2px -2px 0 #fff,inset 2px -2px 0 #fff,inset -2px 2px 0 #fff}.payment-method label img{display:inline-block;vertical-align:middle;margin:0 10px}.payment-method label .discount{margin-bottom:-24px}.payment-method>div{padding:10px 0}.payment-method input[type=radio]{display:none}.payment-method input[type=radio]:checked+label span{background-color:#0896ff}.payment-method input[disabled=disabled]+label{opacity:.4}.payment-method .credit-method .visible-mobile{display:none}@media (max-width:440px){.payment-method .credit-method .visible-mobile{display:block}}.payment-method .credit-method small{text-transform:lowercase}.paypal-method-discount{color:red}.checkout-price-block{text-transform:uppercase;padding:12px;border-left:1px solid #aaa;font-size:14px;min-height:18px;text-align:center;white-space:nowrap;color:red}.checkout-price-block .old_price{font-size:12px;color:#999;text-decoration:line-through}@media (min-width:768px){.checkout-price-block{width:80px;padding:6px}}@media (max-width:767px){.checkout-price-block{border:1px solid #aaa;border-radius:0 0 4px 4px;position:absolute;left:-1px;right:-1px;bottom:-34px}}.payment-message{width:100%;padding:20px;border:1px solid #aaa;border-radius:4px;font-size:14px;box-sizing:border-box;text-align:center;margin-bottom:20px}.payment-message b{display:inline-block;margin-right:15px}.payment-message .ico-warning{color:red;display:inline-block;width:16px;height:16px;font-size:14px;border:1px solid red;border-radius:50%}.payment-message .content{color:#898989;font-size:13px}.client-info{margin-left:30px;display:inline-block}.client-info-title{font-size:1.125em}.shopping-status-wrapper{text-align:center;font-size:0;padding:20px 0}.shopping-status{display:inline-block;width:25%;text-transform:uppercase;color:#aaa;font-size:17px;padding:10px 0}.shopping-status.active{color:#0dc2f7}.shopping-status i{vertical-align:sub;padding-right:.5em}.shopping-status [class*=" icon-"],.shopping-status [class^=icon-]{font-size:30px;color:#9c9c9c}@media (max-width:767px){.shopping-status-wrapper{display:none}.shopping-status{width:100%}.client-info{margin-top:30px}}.redirecting-loader{margin-top:115px;margin-bottom:35px}.redirecting-loader .loader-wrap{margin-top:0}.redirecting-message{font-size:18px}@media (max-width:767px){.redirecting-message{font-size:16px}}.table{display:table;width:100%;margin-bottom:0}.table .table-title{width:450px}#checkout-form-email-login,#form-forgot-password{display:none}@media (max-width:767px){.menu_toggle{display:none}#search_btn{display:none!important}}

#c_step_1 {
    padding-bottom: 197px;
}
#c_step_4 {
    padding-bottom: 156px;
}
.deliver-save{
    width: 520px;
}
#payment-success-main {
    padding: 20px 30px;
    min-height: 210px;
    background: #fff;
    margin-bottom: 263px;
}
.payment_success_left {
    width: 60%;
    float: left;
    min-height: 115px;
    border-right: 1px solid lightgray;
    padding-left: 30px;
}
.payment_success_left h4 {
    font-size: 17px;
    padding-bottom: 5px;
}
.payment_success_left h3 {
    color: #00bdf8;
    margin-top: 0;
}
.success-message {
    background: lightyellow;
    width: 85%;
    padding: 5px;
}
.payment_success_right {
    width: 35%;
    float: left;
    min-height: 161px;
    padding-left: 45px;
}
.payment_success_right h4 {
    margin-bottom: 15px;
    font-size: 16px;
}
.payment_success_right span {
    text-transform: uppercase;
}
.success-icon {
    position: relative;
}
.success-icon .fa-check {
    position: absolute !important;
    left: -28px !important;
    top: 0 !important;
    color: #00bdf8 !important;
}
.product_image img {
    width: 100%;
}
.cart-content  {
    background-color: #fff;
}
.my-row, .my-page {
    float: left;
    width: 100%;
}
.submit_cell{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#submit{
    top: -5px;
}
.change-qty-form{
    display: inline-block;
}
.cart-list-item--remove{
    text-transform: uppercase;
    color: #fff !important;
    background-color: #0896ff;
    padding: 3px 6px 2px 6px;
    font-size: 9px!important;
    margin-top: 10px;
    border-radius: 3px;
}
.icon-inr{
    vertical-align: middle;
}
.install-char-p{
    font-size: 11px!important;
    text-transform: uppercase;
}
.install-char-p input{
    vertical-align: sub;
}
.place-priceses p{
    font-size: 17px;
}
.place-priceses{
    margin-bottom: 30px;
}
.thank-you-content{
    text-align: center;
    padding-bottom: 60px;
    background: #fff;
}
.thank-you-content img{
    width: 250px;
    max-width: 100%;
}
.thank-you-content img{
    font-size: 20px;    
}
@media screen and (max-width: 992px) {
    .cart-list{
        padding: 15px 0;
    }
}
@media screen and (max-width: 768px) {
    .deliver-save{
        width: 100%;
    }   
}